$bg-body: hsl(225, 100%, 94%);
$bg-annual-plan: hsl(230, 75%, 98%);
$bg-proceed-link: hsl(245, 75%, 52%);
$color-hover: hsl(245, 83%, 68%);
$font-color-primary: hsl(223, 47%, 23%);
$font-color-secondary: hsl(224, 23%, 55%);
$font-family: 'Red Hat Display', sans-serif;